/* Throught All Pages ****************************************** */
body {
background-color: #C4DFDF;
}

h1 {
  color: black;
  margin-top: 95px;
}

#nav-title{
  font-family: "Playwrite IN", cursive;
  color: #135D66;
  font-size: 25px;
}

#navbar {
font-family: "Lora", serif;
font-size: 20px;
}

/* Home Page ****************************************** */

#quote {
color: whitesmoke;
font-family: "Lora", serif;
font-size: 30px;
margin-top: 95px;
}

#quote-source {
color: whitesmoke;
font-family: "Lora", serif;
font-size: 15px;
margin: 5px;
}

#home-tron {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;

}

/* Timeline Page ****************************************** */


/* Memory Page ****************************************** */


/* Photo Page ****************************************** */

