/* Throught All Pages/ NavBar ****************************************** */
body {
background-color: #9DB2BF;
}

h1 {
  font-family: "Lora", serif;
  color: whitesmoke;
  margin-top: 95px;
  text-align: center;

}

#nav-title{
  font-family: "Playwrite IN", cursive;
  color: #27374D;
  font-size: 25px;
  font-weight: 700;
}

#navbar {
font-family: "Lora", serif;
font-size: 20px;
}

/* Footer Details ****************************************** */
#footer {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 500;
}


/* Home Page/ Obituary Details ****************************************** */

h3 {
  font-family: "Playwrite IN", cursive;
  color: #27374D;
  font-size: 25px;
  padding-left: 80px;
  font-weight: 700;
}

#home-img2 {
  width: 48%;
}

#home-img3 {
  width: 45%;
}


.home-paragraph{

  font-family: "Lora", serif;
  color: whitesmoke;
  font-size: 20px;
  padding-left: 80px;
  padding-right: 80px;
}



/* Timeline Page ****************************************** */


/* Memory Page ****************************************** */


/* Photo Page ****************************************** */

