/* Throught All Pages/ NavBar ****************************************** */
body {
background-color: #9DB2BF;
}

h1 {
  font-family: "Lora", serif;
  color: whitesmoke;
  margin-top: 95px;
  text-align: center;

}

#nav-title{
  font-family: "Playwrite IN", cursive;
  color: #27374D;
  font-size: 25px;
  font-weight: 700;
}

#navbar {
font-family: "Lora", serif;
font-size: 20px;
}

/* Footer Details ****************************************** */
#footer {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 500;
}


/* Home Page/ Obituary Details ****************************************** */

h3 {
  font-family: "Playwrite IN", cursive;
  color: #27374D;
  font-size: 25px;
  padding-left: 80px;
  font-weight: 700;
}

#home-img2 {
  width: 50%;
}

.home-paragraph{
  font-family: "Lora", serif;
  color: whitesmoke;
  font-size: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

/* Social Medias Details ****************************************** */
.share{
text-align: start;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 30px;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

  .fa-instagram {
    background: #125688;
    color: white;
  }

/* Timeline Page ****************************************** */
#home-img3 {
  width: 60%;
}

/* Memory Page ****************************************** */


/* Photo Page ****************************************** */

