/* Throught All Pages/ NavBar ****************************************** */
body {
background-color: #9DB2BF;
}

h1 {
  font-family: "Lora", serif;
  color: whitesmoke;
  margin-top: 95px;
  text-align: center;

}

#nav-title{
  font-family: "Playwrite IN", cursive;
  color: #27374D;
  font-size: 25px;
}

#navbar {
font-family: "Lora", serif;
font-size: 20px;
}

/* Home Page/ Obituary Details ****************************************** */

h3 {
  font-family: "Playwrite IN", cursive;
  color: #27374D;
  font-size: 25px;
}


#home-img2 {
  display: flex !important;
  justify-content: end !important;
  width: 600px;
}

.home-paragraph{
  display: flex !important;
  justify-content: start !important;
  font-family: "Lora", serif;
  color: whitesmoke;
}



/* Timeline Page ****************************************** */


/* Memory Page ****************************************** */


/* Photo Page ****************************************** */

