.video {
padding-top: 30px;
padding-left: 380px;
}

.memory-heading{
  font-family: "Lora", serif;
  text-align: center;
  color: #526D82;
  font-size: 25px;
  font-weight: 700;
  padding-top: 15px;
}